
@media (max-width: 1800px) {
	.main-header-in {
		padding: 15px 60px;
	}
	.main-header.fixed .main-header-in{
		padding: 10px 0;
	}
}
@media (max-width: 1600px) {
	.book-session {
		padding-left: 50px;
	}
}

@media (max-width: 1500px) {
	.login-btn,
	.second-btn {
		border-radius: 30px;
		padding: 10px 25px;
	}
	.nav-desc-menu ul {
		gap: 30px;
		padding-right: 10px;
	}

	.testim-head br{
		display: none;
	}
	.testim-head h2 br{
		display: none;
	}

	.stats-box {
  		max-width: 100%;
	}

	.download-pg-btn {
  		width: 55%;
	}
}

@media (max-width: 1400px) {
	.download-pg-btn {
		width: 58%;
	}
}

@media (max-width: 1300px) {
	.head-title {
		width: 60%;
	}
	.head-title h1,
	.head-title h2 {
  		font-size: 40px;
	}

	.faq-header h3,
	.client-header h2 {
  		font-size: 50px;
	}

	.download-pg-btn-out {
  		display: block;
	}
	.download-pg-btn{
		margin-bottom: 15px;
	}
	.download-pg-btn {
		width: 65%;
	}

	.testimonial-card-in {
  		width: 80%;
	}
	.testimonial-card-img img {
		width: 60px !important;
		height: 60px;
	}
	.testim-in-item h5{
		font-size: 18px;
	}

	/* upgrade plan */
	#scroll {
		width: 50px;
		height: 50px;
	}
	#scroll span i, #scroll span svg {
  		font-size: 18px;
	}

}

@media (max-width: 1200px) {
	.right-panel {
		padding: 40px 20px;
	}
	.right-nav-top {
		padding: 20px 0 20px 30px;
	}
	.nav-desc-menu ul {
		gap: 20px;
	}

	.hero-banner {
		height: 50vh;
		min-height: 500px;
	}
	.banner_slider {
		height: 900px;
	}
	/* .inner-hero-banner {
  		width: 98%;
		height: 70px;
	} */

	.main-header-in {
		padding: 10px !important;
	}
	.nav-desc-menu ul li a {
  		font-size: 16px;
	}
	.lang-switch ul li a {
  		font-size: 14px;
	}

	.hero-banner h1 br{
		display: none;
	}
	.hero-banner h1 {
		font-size: 50px;
		line-height: 1.2;
	}

	.hero-banner {
  		width: 98%;
	}
	.second-btn,
	.third-btn,
	.login-btn {
  		padding: 10px 20px;
		font-size: 16px;
	}

	.download-pg-btn {
		width: 75%;
	}

	.productivity-card {
		padding: 20px;
		display: block;
	}
	.right-productivity-card{
		margin-top: 20px;
	}

	.questions-card {
		margin: 0 auto;
		margin-bottom: 30px;
	}

	.ft-btm-cont {
  		gap: 10px;
	}

	.dashboard-bg-color1::before,
	.dashboard-bg-color2::before {
		width: 50%;
		height: 300px;
		opacity: 0.3;
	}

	.key-feature-card-img {
  		height: 230px;
	}

	.left-book-session h3 {
  		font-size: 35px;
	}

	.dashboard-bg-color1, .dashboard-bg-color2{
		display: none;
	}
	.dashboard-in {
    	padding: 20px;
	}
	.right-image {
		width: 100%;
		max-height: 400px;
		overflow: hidden;
		text-align: center;
	}
	.right-image img {
		width: auto;
		object-fit: contain;
		border-radius: 25px;
		max-height: 400px;
	}
	.dashboard-in:nth-child(1),
	.dashboard-in:nth-child(2),
	.dashboard-in:nth-child(3),
	.dashboard-in:nth-child(4),
	.dashboard-in:nth-child(5),
	.dashboard-in:nth-child(6){
		position: relative;
		top: auto;
	}
	

}

@media (max-width: 1000px) {
	.download-pg-btn {
		width: 85%;
	}
}


@media (max-width: 992px) {
	/* common section */
	.section-padding {
		padding: 40px 0px;
	}
	
	/* END common section */

	.head-title {
		width: 100%;
	}
	.head-title h1,
	.head-title h2 {
		font-size: 35px;
	}

	.nav-desc-menu{
		display: none;
	}
	.menu a {
		font-size: 16px;
        color: #464646;
    }

	.right-nav-top {
		padding: 10px 0 10px 15px;
	}

	.hero-banner .cta-button {
		font-size: 16px;
		padding: 12px 30px;
	}
	.banner_slider {
		height: 800px;
	}
	.lapimg {
		margin-top: -300px;
	}
	
	.header-img {
		width: 120px;
	}
	.menu-outr{display: block;}
	.main-header-in {
		padding: 10px 0;
	}
	.menu-overlay {
		width: 100%; 
		right: -100%;
	}

	.faq-header {
		margin-bottom: 2rem;
	}
	.qt h2 {
		max-width: 60%;
	}

	.cta-text h2 {
  		font-size: 25px;
	}
	.cta-btn a {
  		padding: 15px 25px;
	}

	.key-feature-card-img {
		height: 200px;
	}

	.right-demo-enquire {
		margin-top: 30px;
	}

	.smarter .sidebar{
		display: flex;
		overflow: scroll;
	}
	.smarter .sidebar-item {
		padding: 0px 5px;
		min-width: 250px;
		width: 300px;
	}
	.smarter .sidebar-item-in {
		padding: 10px;
		height: 100%;
	}
	.smarter-icon {
  		width: 50px;
	}
	.sidebar-item.active::before {
		right: 0;
		top: auto;
		bottom: -32px;
		transform: translateY(0%) rotate(0deg);
		transform: translateX(-50%);
    	left: 50%;
		display: none;
	}
	.smarter .sidebar-item h6 {
  		font-size: 18px;
	}
	.smarter .sidebar-item p {
  		font-size: 14px;
	}

	.smarter .content-section {
  		padding: 30px;
	}
	.smarter .content-text h1 {
		font-size: 35px;
		margin-bottom: 10px;
	}
	.smarter .content-text p {
  		font-size: 16px;
	}
	.smarter .content-area {
		min-height: 500px;
	}

	.download-pg-btn {
		width: 50%;
	}

	.left-bottom-logo {
		width: 150px;
	}
	.left-ft-newsletter{
		margin-top: 20px;
	}
	.download-brochure {
		padding: 10px 6px;
		font-size: 13px;
	}

	.feature-list {
		align-items: center;
	}

	.integration h2 {
		font-size: 35px;
		line-height: 1.3;
	}
	.integration .video-icon {
		width: 60px;
		height: 60px;
	}

	.demo-content-in {
		padding-bottom: 30px;
	}
	.demo-content-in h2,
	.demo-content-in p{
		text-align: center !important;
	}
	.demo-footer {
		width: fit-content;
		padding: 15px 20px;
		gap: 25px;
		margin: 0 auto;
	}

	.demo-image{
		padding-right: initial;
	}
	.demo-image img,
	.demo-content {
		border-radius: 0;
	}
	
	.tab-content{
		padding-bottom: 25px;
	}
	.image-box {
  		max-height: 500px;
	}

	.gradient-box h1 {
  		font-size: 28px;
	}
	.gradient-box p {
  		font-size: 16px;
	}

	.productivity {
  		padding: 40px 0;
	}

	.dashboard {
		padding-bottom: 100px !important;
	}

	.work-space-cont-in{
		padding-left: initial;
	}

	.book-session {
        padding-left: 20px;
    }

	/* pricing table */
	.table-head-overview,
	.table-head-inner {
  		font-size: 18px;
		line-height: 20px;
		word-break: break-all;
	}
	.table-head th span {
		font-size: 14px;
	}
	.right-table-head {
		width: 35px;
		height: 35px;
	}
	.right-table-head svg {
 		 width: 12px;
	}

	.pt-150{
		padding-top: 100px !important;
	}

	
}

@media (max-width: 800px) {


}

@media (max-width: 768px) {
	/*-- common --*/
	.left-book-session {
	padding: 40px 0;
	}
	/*-- END common --*/

	.dashboard-in {
		padding: 20px;
	}
	.feature-item {
		gap: 5px;
		padding: 15px;
	}
	.feature-number {
		font-size: 2rem;
		min-width: 50px;
	}

	.key-feature-card-img {
		height: 300px;
	}

	.smarter .sidebar {
		width: 100%;
		position: relative;
		height: auto;
	}

	.smarter .content-area {
		margin-left: 0;
	}

	.smarter .content-section {
		padding: 40px 20px;
	}

	.smarter .content-text h1 {
		font-size: 2rem;
	}

	.smarter .content-text p {
		font-size: 1rem;
	}

	.left-stay-connect-in {
      margin-top: 20px;
      margin-bottom: 30px;
	}
	.left-stay-connect-in ul li {
		font-size: 18px;
		margin-bottom: 10px;
	}

	.hero-banner h1 {
		font-size: 32px;
	}
	.hero-banner .subtitle {
		font-size: 14px;
	}
	.cta-button {
		padding: 12px 30px;
		font-size: 14px;
	}

	.integration .play-btn {
		width: 50px;
		height: 50px;
		font-size: 16px;
	}
	.integration .tagline {
		font-size: 20px;
	}
	.integration h2 {
		font-size: 25px;
	}

	.left-book-session h6 {
  		font-size: 16px;
	}
	.left-book-session h3 {
  		font-size: 25px;
	}
	.right-book-session-item p {
  		font-size: 16px;
	}
	.right-book-session-item h5 {
  		font-size: 18px;
	}

	.testim-in p {
  		font-size: 16px;
	}

	.second-btn,
	.login-btn {
    	font-size: 14px;
		padding: 6px 12px;
	}
	.login-btn img {
		width: 22px;
	}

	.hero-banner h1 {
    	font-size: 35px;
	}
	.testimonial-in .text-start br{
		display: none;
	}
	.testimonial-card-in {
  		width: 100%;
	}
	.testimonial-card-img img {
		width: 60px !important;
		height: 60px;
	}

	.ft-newsletter {
  		display: block;
	}
	.left-ft-newsletter{
		margin-bottom: 20px;
	}

	.qt {
  		padding: 30px;
		text-align: center;
	}
	.qt h2 {
  		font-size: 30px;
	}

	.cta-inner {
		display: block;
		text-align: center;
	}
	.cta-text h2 {
		margin-bottom: 25px;
	}
	.cta-text h2 br {
		display: none;
	}
	.pricing {
		padding-bottom: 150px !important;
	}
	.cta-inner {
  		padding: 25px 25px;
	}

	.download-pg-btn {
		width: 65%;
	}
  

	.footer {
  		padding: 40px 0 0px;
	}

	.right-book-session-item .icon {
		width: 50px;
		height: 50px;
		padding: 10px;
	}

	.signup{
		padding-top: 40px;
	}
	.signup-form-in {
		box-shadow: none;
		padding: 20px;
	}
	.right-login-form{
		order: -1;
	}
	.login-form-in {
		padding: 40px 40px 40px 40px;
		margin: 80px 0 40px;
		height: initial;
	}

	.faq-header h3 {
		font-size: 2rem;
	}

	.right-faq .accordion-button {
		padding: 1.2rem 1.5rem;
		font-size: 1rem;
	}

	.book-session {
		padding-left: 15px;
	}


}

@media (max-width: 700px) {
	.qt {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.qt h2 {
		max-width: 100%;
		margin-bottom: 20px;
	}

	/* pricing */
	.table-head th {
		display: contents;
	}
	.table-head,
	.sticky-table th {
  		position: unset;
	}
	.compare-overview .category-header th {
  		font-size: 16px;
	}
	.compare-overview .feature-name {
  		font-size: 14px;
	}
	.table-head-inner {
  		border-radius: 0;
	}

}


@media (max-width: 600px) {
	.menu-button.open .close-icon {
		right: 0%;
	}
	.header-img {
		width: 115px;
	}
	.menu-button {
  		width: 30px;
	}
	.menu-outr {
		min-width: 35px;
	}
	 .right-nav-top {
    	gap: 10px;
	}

	#btn__line, #btn__line::before, #btn__line::after {
  		height: 2px;
	}
	#btn__line::before {
  		width: 28px;
		bottom: 6px;
	}
	#btn__line {
  		width: 20px;
	}
	#btn__line::after {
		width: 10px;
		top: 6px;
	}
	
	.menu-overlay {
        padding: 30px 15px;
    }
	.nav-contact-btn .btn {
  		font-size: 12px;
	}
	.right-nav-top .anim-btn-1 {
  		font-size: 12px;
		width: 110px;
		height: 30px;
	}
	.lang-switch ul li a {
  		font-size: 12px;
	}

	.right-nav-top .desc-btn{
		display: none;
	}
	.right-nav-top .mob-btn{
		display: block;
	}

	.faq-header h3, .client-header h2 {
		font-size: 30px;
		line-height: 35px;
	}
	.testimonial-outr .hero-text h1 {
		margin-top: 40px;
	}
	.testim-icon {
  		font-size: 60px;
	}
	.faq-header h6 {
		font-size: 16px;
		margin-bottom: 5px;
	}
	.qt {
    	padding: 22px;
	}
	.qt button {
		font-size: 16px;
		padding: 10px 20px;
	}
	.qt h2 {
		font-size: 20px;
		margin-bottom: 10px;
	}

	.otp-wrapper {
		padding: 25px 15px;
	}
	.otp-wrapper .otp-box {
		padding: 30px 15px;
	}
	.otp-wrapper .otp-inputs input {
		width: 45px;
		height: 45px;
	}
	.otp-wrapper .otp-inputs {
		gap: 5px;
	}

	.otp-wrapper h3 {
		font-size: 20px;
	}

	.option-card .icon img {
		width: 40px;
		height: 40px;
	}
	.download-pg-btn i, .download-pg-btn svg {
		font-size: 16px;
	}

	.main-btn img{
		width: 18px;
	}

	.close-btn,
	.main-btn,
	.actions .back,
	.demo-btn {
  		font-size: 14px;
	}

	.demo-btn i, .demo-btn svg {
		font-size: 18px;
	}

	.description {
		font-size: 16px;
		line-height: 22px;
	}
	
	.right-demo-enquire {
  		padding: 30px 20px;
	}

	.demo-enquire-head h1,
	.demo-enquire-head h2 {
  		font-size: 25px;
	}

	.download-pg-btn {
		width: 75%;
	}

	.key-feature-card-img {
		height: 250px;
	}

	.feature-item {
  		display: block;
	}
	.feature-content h3 {
  		font-size: 18px;
	}

	.stats-box {
		flex-wrap: wrap;
		margin: 15px 0 0;
	}
	.stat-item {
  		display: block;
		padding: 10px;
	}

	.left-ft-newsletter h6 {
  		font-size: 20px;
	}
	.footer .left-bottom-logo-out p,
	.left-ft-newsletter p {
		font-size: 15px;
		line-height: 25px;
	}

	.head-title h1,
	.head-title h2 {
		font-size: 25px;
	}
	.head-title p {
		font-size: 16px;;
		line-height: 22px;
	}

	.floating-label {
		margin-bottom: 15px;
	}

	.round-planet{
		display: none;
	}

	.gradient-box {
		padding: 15px;
	}

	.key-feature-card h3 {
  		font-size: 20px;
	}

	.demo-content {
  		min-height: 400px;
	}

	.image-box {
		max-height: 350px;
	}

	.book-session {
        padding-left: initial;
    }

	.login-form-in {
    	padding: 15px;
	}
	.login-form-in ul li button {
  		font-size: 16px;
	}

	/* pricing table */
	.table-head-overview,
	.table-head-inner {
  		font-size: 14px;
	}

	/* upgrade */
	.upgrade-mode-in {
		gap: 5px;
		flex-wrap: wrap;
	}
	.upgrade-mode {
  		width: 49%;
	}
	.upgrade-plan-in {
		padding: 0px;
		background-color: transparent;
	}
	.right-upgrade-plan-detls h5 {
  		font-size: 16px;
	}

	.left-upgrade {
		padding: 0;
		border: 0;
	}
	.brochure-request-demo-outr .modal-content {
		border-radius: 15px;
		padding: 20px;
	}
	.brochure-request-demo-head h4 {
    	font-size: 20px;
	}

}

@media (max-width: 576px) {

	.hero-banner h1 {
		font-size: 30px;
	}
	.hero-banner {
		min-height: 500px;
    	height: 50vh;
	}
	.banner_slider {
		height: 700px;
	}
	.lapimg {
		margin-top: -230px;
	}
	.hero-banner .subtitle {
  		margin: 0 auto 20px;
		max-width: 100%;
	}
	.hero-banner h1 {
		margin-bottom: 10px;
	}

	.work-space-img {
		height: 500px;
		overflow: hidden;
	}

	.signup-in-img{
		display: none;
	}
	.signup-form-in {
		padding: 20px;
	}

	.dowload-outr .modal-dialog-centered {
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
	}

	.footer-nav{
		margin-top: 20px;
	}

	.questions-card {
    padding: 40px 30px;
    border-radius: 25px;
  }

  .chat-bubble {
    width: 50px;
    height: 50px;
    top: -15px;
  }

  .questions-title {
    font-size: 22px;
    margin-top: 25px;
  }

  .questions-description {
    font-size: 15px;
    margin-bottom: 30px;
  }


}

@media (max-width: 500px) {
	.demo-footer {
		justify-content: center;
    	gap: 15px;
	}
	.download-pg-btn {
		width: 90%;
	}
}

@media (max-width: 450px) {
	.right-ft-newsletter .input-group{
		display: block;
	}
	.right-ft-newsletter input {
  		width: 100% !important;
  		margin-bottom: 10px;
	}

	.key-feature-card-img {
		height: 200px;
	}
	

}


@media (max-width: 400px) {
	/* upgrade */
	.upgrade-mode-in {
		gap: 10px;
	}
	.upgrade-mode {
  		width: 100%;
	}

}

@media (max-width: 380px) {
  .questions-card {
    padding: 35px 25px;
  }

  .questions-title {
    font-size: 20px;
  }

  .questions-description {
    font-size: 14px;
  }
}